<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<context:annotation-config/>

<!-- 	<bean id="triangle" class="org.akshay.demo.Triangle" autowire="byName">
	 	<property name="type" value="Equilateral"/> 
	</bean> -->
	
	<!-- Bead definition for calling custom method for initialization
	 <bean id="triangle" class="org.akshay.demo.Triangle" autowire="byName" init-method=myInit>
	 	<property name="type" value="Equilateral"/> 
	 </bean> 
	 -->
	
	<bean id="pointA" class="org.akshay.demo.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="pointB" class="org.akshay.demo.Point">
		<property name="x" value="20"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="pointC" class="org.akshay.demo.Point">
		<qualifier value="circleRelated" />
		<property name="x" value="0" />
		<property name="y" value="-20" />
	</bean>
	
<!-- 	<bean id="circle" class="org.akshay.demo.Circle">  
	
	</bean> -->
	
<!-- 	 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 	<property name="locations" value="pointsconfig.properties" />
     </bean> -->
     
<!--      <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->
<!-- We dont need to explicitly define the post processors, as the below tag will take care of all
	 the post processors
 --> 
     <context:annotation-config/>
     
     
     <!--  This tag will be needed to inform Spring that we are using @Component annotation 
           to define beans in our class along with the beans defined in the XML
      -->
     <context:component-scan base-package="org.akshay.demo"></context:component-scan>
	
</beans>
